# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/
.env
*.log

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/

# Node
node_modules/
npm-debug.log
.eslintcache

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/.git/
