# PayPal Configuration
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_PAYPAL_CLIENT_SECRET
PAYPAL_ACCOUNT_ID=YOUR_PAYPAL_ACCOUNT_ID
PAYPAL_BUSINESS_ACCOUNT=YOUR_PAYPAL_BUSINESS_EMAIL
PAYPAL_CURRENCY=PHP
PAYPAL_RETURN_URL=http://localhost:3000/order-success
PAYPAL_CANCEL_URL=http://localhost:3000/order-cancelled
